In [ ]:
!wget https://www.dropbox.com/s/iivd4novdhlk7lb/groceries.csv

--2022-07-03 13:02:48--  https://www.dropbox.com/s/iivd4novdhlk7lb/groceries.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.5.18, 2620:100:601d:18::a27d:512
Connecting to www.dropbox.com (www.dropbox.com)|162.125.5.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/iivd4novdhlk7lb/groceries.csv [following]
--2022-07-03 13:02:49--  https://www.dropbox.com/s/raw/iivd4novdhlk7lb/groceries.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc265d039db8b2b8e573345374b5.dl.dropboxusercontent.com/cd/0/inline/BoXHW6qthflcAS2FpNgqStfnaJg9oUuWzbinqWwyBR-NT4jaI36syKsOX9nm4wV_btCd6z9YxjuKwlFYPA2tMF0lJuzQVJ8dVmuFMx2Jo6eFre3b7CCdynBopEaqpMcsGBSUXVNTarQIoQ_eOrhWBzK9ZWmosfTrDwGudOvu9AC4yA/file# [following]
--2022-07-03 13:02:49--  https://uc265d039db8b2b8e573345374b5.dl.dropboxusercontent.com/cd/0/inline/BoXHW6qthflcAS2FpNgqStfnaJg9oUuWzbinqWwyBR-NT4jaI36syKsOX9nm4wV_btCd6z9YxjuKwlFYPA2tMF0lJuzQVJ8dVmuFMx2Jo6eFre3b7CCdynBopEaqpMcsGBSUXVNTarQIoQ_eOrhWBzK9ZWmosfTrDwGudOvu9AC4yA/file
Resolving uc265d039db8b2b8e573345374b5.dl.dropboxusercontent.com (uc265d039db8b2b8e573345374b5.dl.dropboxusercontent.com)... 162.125.5.15, 2620:100:601d:15::a27d:50f
Connecting to uc265d039db8b2b8e573345374b5.dl.dropboxusercontent.com (uc265d039db8b2b8e573345374b5.dl.dropboxusercontent.com)|162.125.5.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 510697 (499K) [text/plain]
Saving to: ‘groceries.csv’

groceries.csv       100%[===================>] 498.73K  --.-KB/s    in 0.08s

2022-07-03 13:02:49 (5.79 MB/s) - ‘groceries.csv’ saved [510697/510697]

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
file_obj = open('groceries.csv','rt')
content = file_obj.readlines() # read everyline as an element in the python list
file_obj.close()

In [ ]:
content[:2] # first 2 rows

['citrus fruit,semi-finished bread,margarine,ready soups\n',
 'tropical fruit,yogurt,coffee\n']

In [ ]:
'citrus fruit,semi-finished bread,margarine,ready soups\n'.strip()

'citrus fruit,semi-finished bread,margarine,ready soups'

In [ ]:
txns = [x.strip() for x in content]

In [ ]:
txns[:5]

['citrus fruit,semi-finished bread,margarine,ready soups',
 'tropical fruit,yogurt,coffee',
 'whole milk',
 'pip fruit,yogurt,cream cheese,meat spreads',
 'other vegetables,whole milk,condensed milk,long life bakery product']

In [ ]:
'citrus fruit,semi-finished bread,margarine,ready soups'.split(",")

['citrus fruit', 'semi-finished bread', 'margarine', 'ready soups']

In [ ]:
all_txns = [each_txn.split(",") for each_txn in txns]
all_txns[:5]

[['citrus fruit', 'semi-finished bread', 'margarine', 'ready soups'],
 ['tropical fruit', 'yogurt', 'coffee'],
 ['whole milk'],
 ['pip fruit', 'yogurt', 'cream cheese', 'meat spreads'],
 ['other vegetables',
  'whole milk',
  'condensed milk',
  'long life bakery product']]

In [ ]:
# Steps:
# Convert the data into numerical format --> OneHotEncoding
# build frequent itemsets
# Generate association rules

from mlxtend.preprocessing import TransactionEncoder
one_hot_encoding = TransactionEncoder()

one_hot_txns = one_hot_encoding.fit(all_txns).transform(all_txns)

In [ ]:
# Total 500 unique
# build a table with 500 columns and the same number of txns
len(one_hot_encoding.columns_)

169

In [ ]:
type(one_hot_txns)

numpy.ndarray

In [ ]:
one_hot_txns.dtype

dtype('bool')

In [ ]:
one_hot_txns

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False,  True, False],
       [False, False, False, ...,  True, False, False],
       ...,
       [False, False, False, ..., False,  True, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]])

In [ ]:
one_hot_txns = one_hot_txns.astype('int')
one_hot_txns

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 1, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [ ]:
one_hot_txns_df = pd.DataFrame(one_hot_txns, columns = one_hot_encoding.columns_)
one_hot_txns_df.head()

,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,baby food,bags,baking powder,bathroom cleaner,beef,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [ ]:
content[:2]

['citrus fruit,semi-finished bread,margarine,ready soups\n',
 'tropical fruit,yogurt,coffee\n']

In [ ]:
from mlxtend.frequent_patterns import apriori, association_rules

In [ ]:
# Step 2 --> frequent itemsets
frequent_itemsets = apriori(one_hot_txns_df, min_support=0.02, use_colnames=True)

In [ ]:
frequent_itemsets

      support                                         itemsets
0    0.033452                                       (UHT-milk)
1    0.052466                                           (beef)
2    0.033249                                        (berries)
3    0.026029                                      (beverages)
4    0.080529                                   (bottled beer)
..        ...                                              ...
117  0.032232                 (whole milk, whipped/sour cream)
118  0.020742                     (yogurt, whipped/sour cream)
119  0.056024                             (yogurt, whole milk)
120  0.023183  (whole milk, root vegetables, other vegetables)
121  0.022267           (yogurt, whole milk, other vegetables)

[122 rows x 2 columns]

In [ ]:
#Step
rules = association_rules(frequent_itemsets,metric='lift',min_threshold=1.1)

In [ ]:
rules.sort_values('lift',ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
118,(root vegetables),"(whole milk, other vegetables)",0.108998,0.074835,0.023183,0.212687,2.842082,0.015026,1.175091
115,"(whole milk, other vegetables)",(root vegetables),0.074835,0.108998,0.023183,0.309783,2.842082,0.015026,1.290900
71,(tropical fruit),(pip fruit),0.104931,0.075648,0.020437,0.194767,2.574648,0.012499,1.147931
70,(pip fruit),(tropical fruit),0.075648,0.104931,0.020437,0.270161,2.574648,0.012499,1.226392
114,"(whole milk, root vegetables)",(other vegetables),0.048907,0.193493,0.023183,0.474012,2.449770,0.013719,1.533320
...,...,...,...,...,...,...,...,...,...
2,(other vegetables),(bottled water),0.193493,0.110524,0.024809,0.128219,1.160101,0.003424,1.020297
101,(tropical fruit),(soda),0.104931,0.174377,0.020844,0.198643,1.139159,0.002546,1.030281
100,(soda),(tropical fruit),0.174377,0.104931,0.020844,0.119534,1.139159,0.002546,1.016585
103,(yogurt),(soda),0.139502,0.174377,0.027351,0.196064,1.124368,0.003025,1.026976
102,(soda),(yogurt),0.174377,0.139502,0.027351,0.156851,1.124368,0.003025,1.020577

# Recommender Systems

In [1]:
!wget https://www.dropbox.com/s/tniay06wl07ko7u/ratings.csv
!wget https://www.dropbox.com/s/3ge1ha1buiwj2y4/movies.csv

--2023-01-08 13:41:52--  https://www.dropbox.com/s/tniay06wl07ko7u/ratings.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.5.18, 2620:100:601d:18::a27d:512
Connecting to www.dropbox.com (www.dropbox.com)|162.125.5.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /s/raw/tniay06wl07ko7u/ratings.csv [following]
--2023-01-08 13:41:52--  https://www.dropbox.com/s/raw/tniay06wl07ko7u/ratings.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uca65ed97922e4731e9c0a4d16d4.dl.dropboxusercontent.com/cd/0/inline/B0LcV6-mcB_lvobvIqY3-8HIEMCcZOhMEJ3DCeym-5AQbH7VTkt3Cr2av-Ojg2ruBzJ8bS3XY43UYdO6rzwgM6rlQGtz1cwP-6nmBDhJueUPZzepgQJMtDX_Zgbai0zwM9GhBPM-mn8wAMyrv9pi-G5wasLls6K0JFzpxawddt29Mg/file# [following]
--2023-01-08 13:41:53--  https://uca65ed97922e4731e9c0a4d16d4.dl.dropboxusercontent.com/cd/0/inline/B0LcV6-mcB_lvobvIqY3-8HIEMCcZOhMEJ3DCeym-5AQbH7VTkt3Cr2av-Ojg2ruBzJ8bS3XY43UYdO6rzwgM6rlQGtz1cwP-6nmBDhJueUPZzepgQJMtDX_Zgbai0zwM9GhBPM-mn8wAMyrv9pi-G5wasLls6K0JFzpxawddt29Mg/file
Resolving uca65ed97922e4731e9c0a4d16d4.dl.dropboxusercontent.com (uca65ed97922e4731e9c0a4d16d4.dl.dropboxusercontent.com)... 162.125.5.15, 2620:100:601f:15::a27d:90f
Connecting to uca65ed97922e4731e9c0a4d16d4.dl.dropboxusercontent.com (uca65ed97922e4731e9c0a4d16d4.dl.dropboxusercontent.com)|162.125.5.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2483723 (2.4M) [text/plain]
Saving to: ‘ratings.csv’

ratings.csv         100%[===================>]   2.37M  --.-KB/s    in 0.1s

2023-01-08 13:41:53 (18.4 MB/s) - ‘ratings.csv’ saved [2483723/2483723]

--2023-01-08 13:41:53--  https://www.dropbox.com/s/3ge1ha1buiwj2y4/movies.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.5.18, 2620:100:601d:18::a27d:512
Connecting to www.dropbox.com (www.dropbox.com)|162.125.5.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /s/raw/3ge1ha1buiwj2y4/movies.csv [following]
--2023-01-08 13:41:53--  https://www.dropbox.com/s/raw/3ge1ha1buiwj2y4/movies.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc4c08a1121d4d5617eca3eb974e.dl.dropboxusercontent.com/cd/0/inline/B0LPSc0gIgOZd-k8hCz5iwGDuUZXxa-zFJDorJLud-K6lEA_e_wc-JIAegmF_aJxbuEtCX7pH1fPH-ZOisMZqQ-0Wo2d3v7IG9g6TASdyqPJp7_0bzQgEr0RelQifbYqHoPIKd7HLi_ouPhdDVZqy9vDn9pLjNWU-rT4FF8MZgxzuQ/file# [following]
--2023-01-08 13:41:54--  https://uc4c08a1121d4d5617eca3eb974e.dl.dropboxusercontent.com/cd/0/inline/B0LPSc0gIgOZd-k8hCz5iwGDuUZXxa-zFJDorJLud-K6lEA_e_wc-JIAegmF_aJxbuEtCX7pH1fPH-ZOisMZqQ-0Wo2d3v7IG9g6TASdyqPJp7_0bzQgEr0RelQifbYqHoPIKd7HLi_ouPhdDVZqy9vDn9pLjNWU-rT4FF8MZgxzuQ/file
Resolving uc4c08a1121d4d5617eca3eb974e.dl.dropboxusercontent.com (uc4c08a1121d4d5617eca3eb974e.dl.dropboxusercontent.com)... 162.125.5.15, 2620:100:601d:15::a27d:50f
Connecting to uc4c08a1121d4d5617eca3eb974e.dl.dropboxusercontent.com (uc4c08a1121d4d5617eca3eb974e.dl.dropboxusercontent.com)|162.125.5.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 494431 (483K) [text/plain]
Saving to: ‘movies.csv’

movies.csv          100%[===================>] 482.84K  --.-KB/s    in 0.08s

2023-01-08 13:41:54 (5.62 MB/s) - ‘movies.csv’ saved [494431/494431]

In [3]:
import pandas as pd
df = pd.read_csv('ratings.csv')
movies_df = pd.read_csv("movies.csv")

In [4]:
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [5]:
df.shape

(100836, 4)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [7]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [8]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [9]:
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [10]:
user_movies_df = df.pivot(index='userId',columns='movieId',values='rating')
user_movies_df.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
user_movies_df.shape

(610, 9724)

In [12]:
user_movies_df.fillna(0,inplace=True)
user_movies_df.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#output as an array
user_movies_df.values

array([[4. , 0. , 4. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       ...,
       [2.5, 2. , 2. , ..., 0. , 0. , 0. ],
       [3. , 0. , 0. , ..., 0. , 0. , 0. ],
       [5. , 0. , 0. , ..., 0. , 0. , 0. ]])

In [14]:
from sklearn.metrics import pairwise_distances

In [15]:
user_sim = 1 - pairwise_distances(user_movies_df.values,metric='cosine')

In [16]:
user_sim

array([[1.        , 0.02728287, 0.05972026, ..., 0.29109737, 0.09357193,
        0.14532081],
       [0.02728287, 1.        , 0.        , ..., 0.04621095, 0.0275654 ,
        0.10242675],
       [0.05972026, 0.        , 1.        , ..., 0.02112846, 0.        ,
        0.03211875],
       ...,
       [0.29109737, 0.04621095, 0.02112846, ..., 1.        , 0.12199271,
        0.32205486],
       [0.09357193, 0.0275654 , 0.        , ..., 0.12199271, 1.        ,
        0.05322546],
       [0.14532081, 0.10242675, 0.03211875, ..., 0.32205486, 0.05322546,
        1.        ]])

In [17]:
user_sim_df = pd.DataFrame(user_sim)

In [18]:
user_sim_df.head()


user_sim_df.index = user_movies_df.index
user_sim_df.columns = user_movies_df.index
user_sim_df.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.027283,0.059720,0.194395,0.129080,0.128152,0.158744,0.136968,0.064263,0.016875,...,0.080554,0.164455,0.221486,0.070669,0.153625,0.164191,0.269389,0.291097,0.093572,0.145321
2,0.027283,1.000000,0.000000,0.003726,0.016614,0.025333,0.027585,0.027257,0.000000,0.067445,...,0.202671,0.016866,0.011997,0.000000,0.000000,0.028429,0.012948,0.046211,0.027565,0.102427
3,0.059720,0.000000,1.000000,0.002251,0.005020,0.003936,0.000000,0.004941,0.000000,0.000000,...,0.005048,0.004892,0.024992,0.000000,0.010694,0.012993,0.019247,0.021128,0.000000,0.032119
4,0.194395,0.003726,0.002251,1.000000,0.128659,0.088491,0.115120,0.062969,0.011361,0.031163,...,0.085938,0.128273,0.307973,0.052985,0.084584,0.200395,0.131746,0.149858,0.032198,0.107683
5,0.129080,0.016614,0.005020,0.128659,1.000000,0.300349,0.108342,0.429075,0.000000,0.030611,...,0.068048,0.418747,0.110148,0.258773,0.148758,0.106435,0.152866,0.135535,0.261232,0.060792

In [20]:
import numpy as np
np.fill_diagonal(user_sim,0)
user_sim_df.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,0.000000,0.027283,0.059720,0.194395,0.129080,0.128152,0.158744,0.136968,0.064263,0.016875,...,0.080554,0.164455,0.221486,0.070669,0.153625,0.164191,0.269389,0.291097,0.093572,0.145321
2,0.027283,0.000000,0.000000,0.003726,0.016614,0.025333,0.027585,0.027257,0.000000,0.067445,...,0.202671,0.016866,0.011997,0.000000,0.000000,0.028429,0.012948,0.046211,0.027565,0.102427
3,0.059720,0.000000,0.000000,0.002251,0.005020,0.003936,0.000000,0.004941,0.000000,0.000000,...,0.005048,0.004892,0.024992,0.000000,0.010694,0.012993,0.019247,0.021128,0.000000,0.032119
4,0.194395,0.003726,0.002251,0.000000,0.128659,0.088491,0.115120,0.062969,0.011361,0.031163,...,0.085938,0.128273,0.307973,0.052985,0.084584,0.200395,0.131746,0.149858,0.032198,0.107683
5,0.129080,0.016614,0.005020,0.128659,0.000000,0.300349,0.108342,0.429075,0.000000,0.030611,...,0.068048,0.418747,0.110148,0.258773,0.148758,0.106435,0.152866,0.135535,0.261232,0.060792

In [22]:
user_sim_df.idxmax(axis=1).head(10)

userId
1     266
2     366
3     313
4     391
5     470
6     117
7     239
8     379
9     508
10    159
dtype: int64

In [23]:
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [ ]:
df[df['userId'] == 266]

       userId  movieId  rating  timestamp
38665     266        1     2.0  945669542
38666     266        6     4.0  944980835
38667     266       16     5.0  944981193
38668     266       17     1.0  944980787
38669     266       21     4.0  945669287
...       ...      ...     ...        ...
38840     266     3108     5.0  945669287
38841     266     3113     1.0  944940438
38842     266     3142     1.0  944980462
38843     266     3156     1.0  946506460
38844     266     3265     5.0  948587515

[180 rows x 4 columns]

In [24]:
movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

# CBCF

In [ ]:
movies_df = df.pivot(index='movieId',columns='userId',values='rating')
movies_df.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,NaN,NaN,4.0,NaN,4.5,NaN,NaN,NaN,...,4.0,NaN,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,NaN,NaN,NaN,NaN,NaN,4.0,NaN,4.0,NaN,NaN,...,NaN,4.0,NaN,5.0,3.5,NaN,NaN,2.0,NaN,NaN
3,4.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# cosine similarity 
# Assignment --> Follow the same steps for UBCF & return the movies similar to the movieId - 25